<div class="container">
  <ng-container *ngIf="loading">
    <audio autoplay src="../assets/twerk.mp3">
    </audio>
    <img src="../assets/images/twerk.gif" class="question-loading">
  </ng-container>

  <ng-container *ngIf="question$ | async; let question">
    <ng-container *ngIf="!loading">
      <h1 class="title">O que você prefere?</h1>

      <img [id]="question.media_key" [src]="question.url" class="question-image">
    </ng-container>
  </ng-container>

  <div *ngIf="!loading" class="button">
    <button (click)="getQuestion()">Sortear!</button>
  </div>
</div>
