@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  background: url('./assets/images/background.jpg');
  padding: 0;
  margin: 0;
  font-family: 'Lobster', cursive;
}
